@model FreelancerProject.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Kund</h2>

<div>
    @*<h4>Kund</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phonenumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phonenumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkToLinkedIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkToLinkedIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GetNotificationByEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GetNotificationByEmail)
        </dd>



    </dl>
</div>

@if (Model.FreelancerPerson.Count >0)
{
    <div class="col-sm-pull-10">
        <h3>Sparade frilansare</h3>
        <br />

        <table class="table">
            <tr>
                <th>
                    Förnamn
                </th>
                <th>
                    Efternamn
                </th>
                <th>
                    Kärnkompetenser
                </th>
                <th>
                    Profil
                </th>

                <th>

                </th>
            </tr>

            @foreach (var item in Model.FreelancerPerson)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>
                    <td>
                        @foreach (var info in item.OtherInfo)
                        {
                            @Html.Display(info.CoreCompetences)
                        }
                    </td>
                    <td>
                       @Html.ActionLink("Se profil", "Index", "FreelancerCV", new { id = item.Id }, new  { htmlAttributes = new { @class = "form-control" } })
                    </td>



                    <!--TODO: Lägg till dessa länkar om man är inloggad som användare? -->
                    <td>
                        Ta bort 
                    </td>
                </tr>
            }

        </table>
    </div>



    <hr />
}
<p>
    @Html.ActionLink("Ändra", "Edit", new { id = Model.Id }) |
    @*@Html.ActionLink("Back to List", "Index")*@
    <a href="javascript:history.back()">Tillbaka</a>
</p>
