@model FreelancerProject.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Firstname @Model.Lastname</h2>
<h4>@Model.Company</h4>

<div>
    <hr />
    <h3>Mina kontaktuppgifter</h3>
    <br />


    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phonenumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phonenumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkToLinkedIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkToLinkedIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>




    </dl>
    @Html.ActionLink("Ändra mina uppgifter", "Edit", new { id = Model.Id })

</div>
<hr />

@if (Model.FreelancerPerson.Count > 0)
{
    <div class="col-sm-pull-10">
        <h3>Sparade frilansare</h3>
        <br />

        <table class="table table-hover">
            <tr>
                <th colspan="1">
                    Förnamn
                </th>
                <th>
                    Efternamn
                </th>
                <th colspan="3">
                    Kärnkompetenser
                </th>
                <th>E-post</th>
                <th>
                    Länkar
                </th>
                <th>Hantera</th>

                <th>

                </th>
            </tr>

            @foreach (var item in Model.FreelancerPerson)
            {
                <tr>
                    <td colspan="1">
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>

                    @foreach (var info in item.OtherInfo)
                    {
                        if (info.CoreCompetences == null)
                        {
                            <td colspan="3">N/A</td>
                        }
                        else
                        {
                            <td colspan="3">@info.CoreCompetences</td>
                        }
                    }

                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>
                        <a href="@Url.Action("Index", "Vyforprofile", new { id = item.Id })"><i class="fas fa-external-link-alt"></i> Till profil</a>  |
                        <a href="@Url.Action("CustomerView","FreelancerCV",new { id = item.Id })"><i class="fas fa-external-link-alt"></i> Till CV</a>
                    </td>
                    <td>
                        <a href="@Url.Action("DeleteFreelancer","FreelancerCV", new { freelancerId = item.Id, customerId = Model.Id })"><i class="far fa-trash-alt"></i> Ta bort</a>
                    </td>
                </tr>
            }

        </table>
    </div>
    <hr />
}
<p>

    <a href="javascript:history.back()">Tillbaka</a>
</p>
