@model IEnumerable<FreelancerProject.Models.FreelancerPerson>

@{
    ViewBag.Title = "Hitta frilansare";
}
<br />
<br />
<h2>Sök bland frilansare</h2>
<hr />




@using (Html.BeginForm())
{
    <form class="form-group">
        <div class="col-md-5">
            <input type="text" placeholder="Sök" class="form-control" name="searchWord" />
            <br />
            <input type="submit" value="Sök" class="btn btn-primary" />
        </div>
    </form>
}

<button class="btn btn-default" onclick="location.href='@Url.Action("Index")'"> Rensa sökning </button>
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                Kärnkompetenser
            </th>

            <th>
                Profil

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>

                @foreach (var info in item.OtherInfo)
                {

                    <td>
                        @info.CoreCompetences
                    </td>
                }
                <td>
                    @Html.ActionLink("Se profil", "Index", "Vyforprofile", new { freelancerId = item.Id })

                </td>
            </tr>

        }

    </tbody>
</table>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>


<br />
<br /><br />
<br /><br />
<br /><br />
<br /><br />
<br /><br />
<br /><br />
<br />
<a href="javascript:history.back()">Go Back</a>


