@model FreelancerProject.Models.Education

@{
    ViewBag.Title = "Utbildning";
}

<h2>Ta bort utbildning</h2>

<h3>Är du säker på att du vill ta bort denna utbildning från ditt CV?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.School)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Degree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Degree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreelancerPerson.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreelancerPerson.Firstname)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Ta bort" class="btn btn-default" /> |
        @Html.ActionLink("Tillbaka till CV", "Index", "FreelancerCV")
    </div>
    }
</div>
