@model FreelancerProject.Models.Customer
@{
    ViewBag.Title = "Index";
}

@*<br>
<br>

<h2>@Model.Firstname @Model.Lastname</h2>
<br>
<img id="people-img" src="Content/bilder/images.png">

<p> @Model.Address</p>
<br>
<p> @Model.Phonenumber</p>
<br>
<p> @Model.Email</p>

<p> @Model.LinkToLinkedIn</p>
<br>
<br>
<b><p>About me</p></b>
<br>
<br>
<br>*@
