@model IEnumerable<FreelancerProject.Models.OtherInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DriversLicence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Languages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoreCompetences)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfileMessage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FreelancerPerson.Firstname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DriversLicence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Languages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoreCompetences)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfileMessage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FreelancerPerson.Firstname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
