@model FreelancerProject.Models.FreelancerPerson
@{
    ViewBag.Title = "Index";
}

<br>
<br>
<div class="col-md-4">
    <h2>@Model.Firstname @Model.Lastname</h2>
    <br>
    <img id="people-img" src="Content/bilder/images.png">
    <br>
    <br>
    <br>
    <p> @Model.Address</p>
    <br>
    <p> @Model.Phonenumber</p>
    <br>
    <p> @Model.Email</p>
    <br>
    @if (Model.LinkToLinkedIn != null)
    {
        <a href="http://@Model.LinkToLinkedIn"><i class="fab fa-linkedin fa-3x"></i></a>

    }
    <a href="http://model.freelancer.linktogithub/" style="color:purple"><i class="fab fa-github fa-3x"></i></a>

    <br>
    <br>


    <div>@Html.ActionLink("Gå till CV", "Index", "FreelancerCV", routeValues: new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary", @role = "button" }) </div>
    <br>

    <div>@Html.ActionLink("Ändra profil", "Edit", "FreelancerPersons", routeValues: new { freelancerId = Model.Id }, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })</div>

    <br>
    <br>
    <a href="javascript:history.back()">Tillbaka</a>
</div>
<div class="col-md-4">
    <canvas id="DemoCanvas" width="400" height="650"></canvas>
    <script>
        var canvas = document.getElementById('DemoCanvas');
        if (canvas.getContext) {
            var context = canvas.getContext("2d");
            context.beginPath(10);
            context.moveTo(100, 10);
            context.lineTo(100, 1100);
            context.lineWidth = 5;
            context.strokeStyle = '#000000';
            context.stroke();
        }
    </script>

</div>
<div class="col-md-4">
    <div class="loremipsum">
        <h3 id="About">Om mig</h3>
        <br>
        <br>
        @foreach (var item in Model.OtherInfo)
        {
            if (item.ProfileMessage != null)
            {
                <p>
                    @item.ProfileMessage
                </p>
            }

            else 
            {

                <p id="lorem">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>

            };
        }

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>

